<div id="errors"></div>
<hr>
<div id="countdown" style="display: inline-block; "></div> <button id="save">Save!</button>
<hr>
<ul>
  <% @items.each do |item| %>
    <li><%= item.value %></li>
  <% end %>
</ul>